h1.CV{
    margin-left: auto;
    margin-right: auto;
    width: 25em
}

h1.IavorskiiGrigoriy{
    font-size: 75%;
}

p.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 48em
}

ul.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 50em
}

h3.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 43em
}

details {
    border-radius: 4px;
    padding: .5em .5em 0;
    font-size: 75%
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    font-size: 150%
}

details[open] {
    padding: .5em;
}

details[open] summary {
    margin-bottom: .5em;
}

section.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 50em
}