html, body{
    margin: 0;
    padding: 0;
    background-color: #C0D8DE;
    width: 100vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x :hidden;
}
body::-webkit-scrollbar {
    display: none;
}

.CV_for{
    padding: 1rem 3rem;
    padding-left: 16px;
}

h1{
    text-decoration: none;
}

main{
    box-sizing: border-box;
    margin: auto;
}

h2.IavorskiiGrigoriy{
    font-size: 135%;
    margin-left: auto;
    margin-right: auto;
    width: 15em
}

p.blocktext{
    margin-top: 40px;
    width: 620px;
}

ul.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 50em
}

h3{
    max-width: 115%;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    background: #242424;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 40px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #FFFFFF;
}

details {
    border-radius: 4px;
    padding: 20px 5px 0 20px;
    font-size: 100% ;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 10px;
    letter-spacing: 0.005em;    
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    font-size: 150%
}

details[open] {
    padding: 20px 5px 0 20px;
}

details[open] summary {
    margin-bottom: .5em;
}

.blocktext{
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    max-width: 1360px;
}

img.sizes{
    margin: auto;
    margin-top: 10px;
    width: 10em;
    border-radius: 85px;
}

img.rcschool{
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}

img.github{
    width: 3.8em;
    border-radius: 10px;
}


div.Contacts {
    display: flex;
    flex-direction: column;
    }

details.midl{
    margin: auto;
    width: 15em;
    color: #242424;;
}

footer{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #E4E6E7;
}

div.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    }

time{
    padding-left: 50px;
}

header{
    max-width:100%;
    box-sizing: border-box;
    background-color: #242424;
    color: #FFFFFF;
}

.page-header__inner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 2rem 10px;
}

.page-header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 40px;
    
}

.site-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 0px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.site-navigation__item{
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.site-navigation__link{
    white-space: nowrap;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
}

.Picture_Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#Profile{
    width: 100%;
    padding-top: 20px;
}

#Profile div.blocktext{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#Profile p{
    max-width: 724px;
    padding-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    color: #242424;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

#Professional_Skills{
    width: 100%;
    padding-top: 10px;
    background-color: #E4E6E7;
}

#Professional_Skills ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin: 0px auto;
    padding: 0px;
    list-style-type: none;
}

#Professional_Skills ul li{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 45px;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    /* 222 */

    color: #242424;
}

.Skillbar{
    width: 200px;
    height: 17px;
    margin-top: 13px;
    margin-left: 10px;
}

.HTML{
    background: #E4E6E7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #242424 65% , #B9B9B9 65%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #242424 65%, #B9B9B9 65%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #242424 65%, #B9B9B9 65%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #242424 65% , #B9B9B9 65%); /* Standard syntax */
}

.Skill_item{
    width: 274px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.CSS{
    background: #E4E6E7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #242424 50% , #B9B9B9 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #242424 50%, #B9B9B9 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #242424 50%, #B9B9B9 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #242424 50% , #B9B9B9 50%); /* Standard syntax */
} 

.JS{
    background: #E4E6E7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #242424 30% , #B9B9B9 30%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #242424 30%, #B9B9B9 30%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #242424 30%, #B9B9B9 30%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #242424 30% , #B9B9B9 30%); /* Standard syntax */
} 

.GIT{
    background: #E4E6E7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #242424 45% , #B9B9B9 45%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #242424 45%, #B9B9B9 45%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #242424 45%, #B9B9B9 45%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #242424 45% , #B9B9B9 45%); /* Standard syntax */
} 

.C{
    background: #E4E6E7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #242424 25% , #B9B9B9 25%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #242424 25%, #B9B9B9 25%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #242424 25%, #B9B9B9 25%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #242424 25% , #B9B9B9 25%); /* Standard syntax */
} 

.ASM{
    background: #E4E6E7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #242424 25% , #B9B9B9 25%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #242424 25%, #B9B9B9 25%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #242424 25%, #B9B9B9 25%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #242424 25% , #B9B9B9 25%); /* Standard syntax */
}

.FIGMA{
    background: #E4E6E7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #242424 20% , #B9B9B9 20%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #242424 20%, #B9B9B9 20%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #242424 20%, #B9B9B9 20%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #242424 20% , #B9B9B9 20%); /* Standard syntax */
}

#personal_skills{
    width: 100%;
    padding-top: 10px;
    background-color: #E4E6E7;
}

#personal_skills ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin: 0px auto;
    padding: 0px;
    list-style-type: none;
}

#personal_skills ul li{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    /* 222 */

    color: #242424;
}

#Education{
    width: 100%;
    padding-top: 10px;
}

#Education ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    margin: 0px auto;
    padding: 0px;
    list-style-type: none;
}

#Education ul li h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 49px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;
}

#Education ul li{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    /* identical to box height */

    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.03em;

    color: #999999;
}

#Education ul li p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #4F4F4F;
}

#Languages{
    width: 100%;
    padding-top: 10px;
}

#Languages ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    margin: 0px auto;
    padding: 0px;
    list-style-type: none;
}

#Languages ul li{
    padding-top: 9px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 45px;
    /* identical to box height */

    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.03em;

    color: black;
}

#code_examle{
    padding-top: 10px;
    background-color:#E4E6E7 ;
}

.example{
    overflow-x:visible;
    padding-left: 20%;
    background-color:#F0F0F0 ;
}

@media(max-width: 809px){
    .example{
        padding-left: 0;
    }
}

.hljs {
    font-size: 18px;
}

#projects{
    background-color:#E4E6E7 ;
}

.projects_item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    word-wrap: break-word;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height:120%;
    /* or 56px */

    text-align: justify;
    letter-spacing: 0.03em;

    /* 222 */

    color: #242424;
}

.projects_item p{
    padding-left: 2%;
    max-width: 730px;
}


.museum{
    padding: 20px 10px 0 20px;
    max-width: 480px;
    max-height: 270px;
}

@media(max-width: 680px){
    .museum{
        max-width: 255px;
        padding: 20px 10px 0 0px;
    }
    .projects_item{
        padding: 20px 10px 0 0px;
    }
}

#Contacts{
    width: 100%;
    padding-top: 10px;
}

#Contacts ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin: 0px auto;
    padding: 0px;
    list-style-type: none;
}

#Contacts ul li{
    padding-top: 9px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 45px;
    /* identical to box height */

    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.03em;

    color: black;
}

@media (max-width: 380px ){
    #Contacts ul li{
        font-size: 16px; 
    }
}    
@media (max-width: 672px ){
    #Contacts .blocktext ul:nth-child(4){
        flex-direction: row-reverse;
    }
}